body {
    background-color: #FFE4C4;
    font-family: 'Courier New', Courier, monospace;
}

.row {
    width: 100%;
}

.my_photo {
    background: url(../Image/мы\ в\ деле.jpg) no-repeat center center;
    background-size: 100%;
    width: 290px;
    height: 307px;    
}

.nav_logo {
    background: url(../Image/Logo.png) no-repeat center center;
    background-size: 100%;
    width: 40px;
    height: 57px;   
    margin-left: 26%;
}

.nav_bar {
    font-size: 30px;
    font-weight: bold;
}

.nav_text {
        display: flex;
        align-items: center;
        justify-content: right;
}

.container {  
    margin-top: 30px; 
}

.title_photo {
    margin-left: 60px;
}

.col-8 {
    align-items: left;
}

.col-4 {
    align-items: right;
}

.col-9 {
    margin-top: 10px;
    width: 49%;
}

.col-12 {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

#myButton {
    margin-right: 18xp;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: #cce8e5;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}

#demo img{
    margin-top: 20px;
    margin-left: 38%;
    width: 30%;
}

.btn_red{
    margin-right: 18xp;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: #cce8e5;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
}

.form {
    width: 33%;
    border: 1px solid beige;
    margin-left: auto;
    margin-right: 435px;
    margin-top: 5px;
    background-color: #ebddcc;
}

.form_p {
    width: 100%;
    border: 1px solid beige;
    background-color: #ebddcc;
}

.post {
    padding-right: 300px;
    width: 100%;
    border: 1px solid beige;
    background-color: #ebddcc;
}